body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #4caf50;
    padding: 15px;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.navbar h2 {
    color: #fff;
    margin: 0;
}

.event-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 3%;
    margin-top: 70px; /* Adjusted to account for navbar height */
    margin-left: 10px;
    margin-right: 10px;
}

.event {
    background-color: #fff;
    padding: 2%;
    
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-bottom: 10px;
    justify-content: space-between;
}

.event-content {
    flex: 1; /* Allow content to expand and fill remaining space */
    
}

button {
    background-color: #4caf50;
    color: #fff;
    /* padding: 10px 15px; */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 90%;
    height: 10%;
    position: absolute;
    bottom: 10%;
}

.edit-btn,
.delete-btn,
.create-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.edit-btn {
    background-color: #2196F3;
    padding: 5px 10px;
    color: white;
    right: 85px; /* Adjusted right positioning */
}

.delete-btn {
    background-color: #f32121;
    padding: 5px 10px;
    color: white;
}

.create-btn {
    background-color: #4caf50;
    padding: 10px 15px;
    color: #fff;
}